$margin: 0px;
$color_text:  #000;

// Files BG Color
$razz: rgba(25, 181, 254,0.5);
$razz_one: rgba(25, 181, 254, 1);
$razz_two: rgba(25, 181, 254,0.2);
$files_bg_grey_one: rgba(0,0,0,1);
$files_bg_grey: rgba(0,0,0,0.8);

$bg_group_files: rgba(0,0,0,0.2);

$gray: #333;
$gray-light: #aaa;
$gray-lighter: #eee;
$space: 40px;
$blue: #428bca;
$blue-dark: darken($blue, 5%);

// Mixin for transition/transform
@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y); // IE9+
    transform: translate($x, $y);
}
@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin transition-transform($transition) {
    -webkit-transition: -webkit-transform $transition;
    -moz-transition: -moz-transform $transition;
    -o-transition: -o-transform $transition;
    transition: transform $transition;
}

@font-face {
    font-family: "architect";
    src: url('/fonts/ArchitectsDaughter.ttf');
}
@font-face {
    font-family: "coiny";
    src: url('/fonts/Coiny-Regular.ttf');
}
@font-face {
    font-family: "comingSoon";
    src: url('/fonts/ComingSoon.ttf');
}
@font-face {
    font-family: "indieFlower";
    src: url('/fonts/IndieFlower.ttf');
}
@font-face {
    font-family: "varelaRound";
    src: url('/fonts/VarelaRound-Regular.ttf');
}

*{
    font-family: 'varelaRound', cursive;
}

a{
    text-decoration: none;
    color: $color_text;
}

html {
    height: 100%;
}

body{
    // margin: $margin;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    .flashes{
        position: fixed;
        // display: block;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 30px;
        background-color: rgba(255,0,0,0.8);
        height: 0px;
        line-height: 50px;
        color: white;
        overflow: hidden;
        z-index: 9999;
        -webkit-animation: slide 5s ease 0.2s;
    }
    @-webkit-keyframes slide {
        0% {height: 0;}
        10% {height: 50px;}
        90% {height: 50px;}
        100% {height: 0;}
    }

    .container{
        // position: absolute;
        width: 100%;
        min-height: 100vh;

        &.done > .follow ul .done{
            background-color: rgba(46,204,113, 1);
        }

        &.in_progress > .follow ul .in_progress{
            background-color: rgba(255,193,7,1);
        }

        &.help > .follow ul .help{
            background-color: rgba(213,0,0,1);
        }

        header{
            position: fixed;
            width: 80px;
            text-align: center;
            height: 100%;
            background-color: rgba(0, 0, 0, 1);
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            color: $razz_one;
            z-index: 9980;
            overflow-y: auto;
            // box-shadow: 10px 7px 10px rgba(0,0,0,0.5);
            &::-webkit-scrollbar {
                display: none;
            }
            h3{
                padding: 0;
                width: 100%;
                font-size: auto;
            }

            ul{
                // position: absolute;
                margin: 0;padding: 0;
                // background-color: rgba(0,0,0,0.3);
                top: 0;
                right: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                list-style: none;
                padding-bottom: 165px;
                li{
                    // border-right: 2px solid black;
                    // background-color: $razz;
                    width: auto;
                    // line-height: 80px;
                    text-align: center;
                    // height: 80px;
                    // box-shadow: 10px 7px 10px rgba(0,0,0,0.5);
                    transition: 0.4s all;
                    margin-top: 40px;
                    a{
                        display: block;
                        font-size: 1.2em;
                        color: white;
                        img{
                            width: 42px;
                        }
                    }
                    &:hover{
                        transform: scale(1.1);
                        border-left: 1px solid white;
                        padding-left: 3px;
                        // box-shadow: 5px 3px 5px rgba(0,0,0,0.5);
                    }

                }


            }

        }

        .checkpoint_user{
            list-style: none;
            text-align: center;
            margin-top: 70px;
            padding: 0;
            li{
                margin: 10px;
                width: 250px;
                line-height: 40px;
                margin: 5px;

                &[class^="level"]{
                    color: white;
                    font-weight: bold;
                    &.level0{
                        background-color: rgba(0,0,0,0.7);
                    }
                    &.level1{
                        background-color: rgba(46,204,113, 1);
                    }
                    &.level2{
                        color: black;
                        background-color: rgba(255,193,7,1);
                    }

                    &.level3{
                        background-color: rgba(213,0,0,1);
                    }
                }
            }
        }


        .checkpoint_reset{
            width: 400px;
            position: absolute;
            line-height: 40px;
            height: 40px;
            border: none;
            background-color: rgba(255,0,0,0.8);
            box-shadow: 10px 7px 10px rgba(255,0,0,0.8);
            color: white;
            font-size: 1.2em;
            padding: 0;
            transition: 0.4s all;
            &:hover{
                cursor: pointer;
                background-color: rgba(255,0,0,1);
                box-shadow: 5px 4px 5px rgba(255,0,0,0.6);
                transform: scale(0.97);
            }
            &:active, &focus, &visited{
                border: none;
            }
        }

        .follow{
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 9990;
            width: 80px;
            margin-bottom: 10px;
            ul{
                // position: absolute;
                margin: 0;
                padding: 0;
                & > li{
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    margin: 0 auto;
                    cursor: pointer;
                    transition: 0.4s all;
                    &::before{
                        // z-index: 2001;
                        position: absolute;
                        display: none;
                        top:5px;
                        left: 50px;
                        width: 200px;
                        line-height: 25px;
                        transition: 0.4s all;
                    }
                    &::after{
                        margin: 15px;
                        content: "";
                        display: block;
                    }

                    &:hover::before {
                        display: block;
                    }
                    &.done:hover::before{
                        background-color: rgba(46,204,113, 0.8);
                        content: "It's Good";
                    }
                    &.in_progress:hover::before{
                        background-color: rgba(255,193,7,0.8);
                        content: "I'm Working";
                    }
                    &.help:hover::before{
                        color: white;
                        background-color: rgba(213,0,0,0.8);
                        content: "Help Me, Please!!!!";
                    }

                    &.done{
                        content: "";
                        background-color: rgba(46,204,113, 0.5);
                        &:hover{
                            background-color: rgba(46,204,113, 0.8);
                        }

                    }
                    &.in_progress{
                        content: "";
                        background-color: rgba(255,193,7,0.5);
                        &:hover{
                            background-color: rgba(255,193,7,0.8);
                        }
                    }
                    &.help{
                        content: "";
                        background-color: rgba(213,0,0,0.5);
                        &:hover{
                            background-color: rgba(213,0,0,0.8);
                        }

                    }

                }

            }
        }

        section{
            width: 90%;
            margin-left: 80px;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // margin-top: 10px;
            // padding-bottom: 100px;
            .number_annuaire{
                font-weight: bold;
                margin-bottom: 10px;
                text-transform: uppercase;
                b{
                    display: inline-block;
                    padding: 2px;
                    margin: 2px;
                    background-color: #000;
                    // background-position: 25% 50%;
                    color: white;
                    border-radius: 30px;
                    line-height: 30px;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    &.formateur{
                        background-color: $razz;
                        color: black;
                    }
                    &.total{
                        background-color: rgba(255,0,0,0.5);
                        color: black;
                    }
                }
            }
            table{
                border-collapse: collapse;
                width: 100%;
                text-align: center;
                thead{
                    tr{
                        th{
                            position: relative;
                            min-width: 160px;
                            a{
                                display: grid;
                                img{
                                    width: 20px;
                                }
                                &.not_reverse_annuaire{
                                    left: 0;
                                }
                            }
                        }
                    }
                }
                &, th, td{
                    border: 1px solid black;
                }
                th, td{
                    height: 43px;
                }

                th{
                    font-size: 1.6em;
                }
                tbody{
                    tr{

                        &.m2i{
                            width: 100%;
                            height: auto;
                            background-color: $razz;
                        }
                        td{
                            .annuaireMail{
                                width: 100%;
                                display: block;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            .QAndA{
                width: 90%;
                padding-left: 0px;
                padding-bottom: 100px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .question{
                    position: relative;
                    margin: 5px;
                    padding: 5px;
                    width: 100%;
                    h3{
                        text-transform: capitalize;
                        // text-decoration: underline;
                        margin: 0;
                        padding: 0;
                        time{
                            font-size: 0.7em;
                        }
                    }


                    h5{
                        position: absolute;
                        top: -10px;
                        right: 10px;
                        font-style: italic;
                    }

                    & > pre{
                        cursor: pointer;
                        background-color: white;
                        padding: 10px;
                        margin: 0 0 20px 0;
                        text-align: center;
                    }

                    .answer{
                        display: none;
                        // position: relative;
                        // padding-top: 1px;
                        padding: 10px 0;
                        margin-left: 64px;
                        // margin: 0;
                        // padding: 0;
                        // background-color: rgba(0,0,0,0.2);
                        h4{
                            position: relative;
                            padding: 0;
                            margin: 0 0 10px 0;
                            font-style: italic;
                            font-size: 0.9em;
                            time{
                                font-size: 0.8em;
                            }
                        }
                        .ok{
                            display: inline-block;
                            position: absolute;
                            left: 0;
                        }
                        .post{
                            display: inline-block;
                            .post-text{
                                display: inline-block;
                                line-height: inherit;
                                vertical-align: middle;
                                // margin-top: -17px;
                            }
                            .like{
                                display: inline-block;
                                // padding: 10px;
                                // margin-top: 20px;
                                // margin: 20px;
                                div{
                                    display: inline-block;
                                    line-height: 32px;
                                    vertical-align: middle;
                                    margin-top: -17px;
                                }
                                img{
                                    cursor: pointer;
                                    margin: 0 10px;
                                    // padding: 5px;
                                }
                            }
                        }
                    }

                    form.create_answer{
                        display: none;
                        input[type^="submit"]{
                            font-size: 0.9em;
                            min-height: auto;
                            min-width: 30%;
                            padding: 5px;
                            margin: 0;

                        }
                        .form_group{
                        }
                    }
                }

                .create_question{
                    position: fixed;
                    width: 100%;
                    height: 60px;
                    background-color: rgba(0, 0, 0, 1);
                    right: 0;
                    left: 0;
                    bottom: 0;
                    color: white;
                    transition: 0.5s all;
                    .form_group{
                        & textarea{
                            width: 60%;
                            text-align: center;
                            font-size: 1.4em;
                        }
                        & input[type="submit"]{
                            background-color: white;
                        }
                    }
                    &:hover, &:active, &:focus{
                        height: 400px;
                    }
                }
            }
            .bar_anchor{
                position: fixed;
                left: 82px;
                margin: 0;
                width: 43px;
                height: 100%;
                background-color: black;
                border-left: 3px solid white;
                transition: 0.2s all;
                overflow-y: auto;
                z-index: 9989;
                ul{
                    list-style: none;
                    // text-align: left;
                    margin: 0;
                    padding: 0;
                    transition: 0.3s all;
                    li{
                        margin: 8px 0;
                        padding: 6px 0;
                        transition:0.2s all;
                        overflow: hidden;
                        a{
                            // width: 40px;
                            display: block;
                            transition: 0.2s all;
                            h3{
                                color: white;
                                font-size: 2em;
                                text-transform: uppercase;
                                width: 40px;
                                text-align: center;
                                display: block;
                                margin: 0;
                            }
                            span{
                                display: none;
                                transition: 0.3s all;
                            }
                        }
                        &:hover{
                            background-color: white;
                            a{
                                color: black;
                            }
                        }
                    }
                }
                &:hover{
                    width: 200px;
                    background-color: black;
                    ul{
                        li{
                            color: black;
                            a{
                                color: white;
                                text-align: left;
                                h3{
                                    display: inline;
                                    padding-right: 3px;
                                    margin-left: 6px;
                                }
                                span{
                                    display: inline;
                                }
                            }
                            &:hover{
                                a{
                                    color: black;
                                    h3{
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .all{
                width: 100%;
                min-height: 100%;
                text-align: center;
                margin-left: 84px;
                padding-bottom: 100px;
                .group_files{
                    padding: 10px 0;
                    .cat{
                        display: block;
                        width: 100%;
                        text-align: center;
                        font-size: 2em;
                        // border-top: 3px solid black;
                        justify-content: center;
                        margin: 10px 0;
                        // padding: 10px 0;
                        text-transform: capitalize;
                    }
                    .files{
                        overflow-x: auto;
                        width: 90%;
                        table-layout: fixed;
                        margin: 0 auto;
                        transition: 0.5s all;
                        tr{
                            height: 50px;
                            line-height: 50px;
                            transition: 0.2s all;

                            td{
                                display: block; // display the table data as one block for mobile
                                vertical-align: middle;
                                word-wrap: break-word;
                                display: table-cell; // display the first one as a table cell (radio button) for mobile
                                text-align: center;
                                // border-right: 1px solid #D9E4E6;
                                padding-left: 0;
                                padding-right: 0;
                                transition: 0.2s all;
                                a{
                                    display:block;
                                    height:100%;
                                    width:100%;
                                }
                                &:first-child{
                                    width: 65%;
                                }
                            }
                            &:nth-child(even){
                                background-color: rgba(0,0,0,0.12);
                            }
                            &:hover{
                                background-color: rgba(0,255,0,0.1);
                                cursor: pointer;
                                td{
                                    font-size: 1.02em;
                                    a{
                                        text-decoration: underline;
                                    }
                                }
                            }

                            &.oneDay{
                                background-color: rgba(227, 255, 0,0.1);
                            }
                        }
                    }
                }

            }
            form{
                text-align: center;
                width: 100%;
                input{
                    text-align: center;
                    font-size: 1.4em;
                    &:focus, &:active{
                        outline: none;
                    }
                }
                input[type="submit"]{
                    border: none;
                    padding: 15px;
                    min-width: 60%;
                    min-height: 80px;
                    text-align: center;
                    font-size: 1.5em;
                    background-color: rgba(0, 0, 0, 0.2);
                    margin-top: 30px;
                    box-shadow: 10px 7px 10px rgba(125, 125, 125, 0.8);
                    transition: 0.4s all;
                    &:not([disabled]):hover{
                        box-shadow: 5px 3.5px 5px rgba(125, 125, 125, 0.8);
                        transform: scale(0.98);
                        cursor: pointer;
                    }
                }
                .inputfile {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                .inputfile + label {
                    font-weight: 700;
                    min-width: 300px;
                    min-height: 50px;
                    font-size: 1.5em;
                    color: white;
                    display: inline-block;
                    background-color: rgba(0, 0, 0, 0.7);
                    margin: 50px;
                    line-height: 80px;
                    box-shadow: 10px 7px 10px rgba(125, 125, 125, 0.8);
                    transition: 0.4s all;
                }

                .inputfile:focus + label,
                .inputfile + label:hover {
                    box-shadow: 5px 3.5px 5px rgba(125, 125, 125, 0.8);
                    transform: scale(0.98);
                    background-color: $razz_one;
                    color: rgba(0,0,0,0.7)
                }
                .inputfile + label {
                    cursor: pointer; /* "hand" cursor */
                }
                .folder{
                    min-width: 300px;
                    min-height: 50px;
                    border: none;
                    box-shadow: 5px 3px 5px rgba(125, 125, 125, 0.8);
                    text-align-last: center;
                    font-size: 1.5em;
                    margin: 20px;
                }
                .name_file{
                    font-size: 1.3em;
                    b{
                        font-size: 1.5em;
                        text-transform: capitalize;
                        text-decoration: underline;
                    }
                }
                .form_group{
                    position: relative;
                    padding: 5px;
                    margin: 0;

                    input:not([type="radio"]){
                        height: 40px;
                        width: 60%;
                        margin: 5px;
                    }
                    input:required:not([type="radio"]) {
                        border:1px solid rgba(255,0,0,0.5);
                        box-shadow: 3px 2px 5px rgba(255,0,0,0.5);
                    }
                    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        text-align: center;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */
                        text-align: center;
                    }
                    :-ms-input-placeholder { /* IE 10+ */
                        text-align: center;
                    }
                    :-moz-placeholder { /* Firefox 18- */
                        text-align: center;
                    }
                }
            }
            .btn_page_login{
                width: 100%;
                text-align: center;
                button{
                    border: none;
                    padding: 15px;
                    min-width: 60%;
                    min-height: 80px;
                    text-align: center;
                    font-size: 1.5em;
                    background-color: rgba(0, 0, 0, 0.2);
                    margin-top: 30px;
                    box-shadow: 10px 7px 10px rgba(125, 125, 125, 0.8);
                    transition: 0.4s all;
                    &:not([disabled]):hover{
                        box-shadow: 5px 3.5px 5px rgba(125, 125, 125, 0.8);
                        transform: scale(0.98);
                        cursor: pointer;
                    }
                }
            }
            .btn_password_forgot{
                // position: relative;
            }
        }
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        text-align: center;
        background-color: rgba(255,255,255, 0.8);
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        min-width: 400px;
        width: 50%;
        max-width: 70%;
        // max-height: 80%;
        z-index: 1100;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        position: absolute;
        right: 15px;
        top: 0px;
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        transition: 0.7s all;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transform: rotate(720deg) scale(1.2);
    }

    .modal-header {
        padding: 3px 16px;
        background-color: $razz_one;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2{
            width: 60%;
            text-overflow: ellipsis;
            word-wrap: break-word;
        }
        .download_img{
            position: absolute;
            left: 10px;
            top: 10px;
            width: 50px;
            transition: 0.7s all;
            box-shadow: -5px -5px 7px black;
            border-radius: 50px;
            &:hover{
                box-shadow: 5px 5px 7px white;
                transform: rotate(720deg) scale(0.97);
            }
        }
    }

    .modal-body {
        // display:flex;
        // justify-content: center;
        // align-items: center;
        left: 0;
        right: 0;
        border-style: solid;
        border-color: grey;
        width:100%;
        max-height:49%;
        white-space: pre-wrap;
        // overflow:hidden; /* hidden*/
        img{
            max-width: 80%;
            height: auto;
            // position: absolute;
        }
    }

    footer{
        z-index: 9970;
        position: fixed;
        width: 100%;
        line-height: 80px;
        text-align: center;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
        a{
            width: 100%;
            height: auto;
            color: white;
            font-weight: bold;
            font-size: 2em;
            display: block;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
