<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet"> -->
	<link rel="stylesheet" href="index.css" media="screen" title="no title">
	<script src="jquery.js" charset="utf-8"></script>
</head>
<body>
	<div class="container">
		<header>
			<h1>Annuaire</h1>
			<ul>
				<li><a href="/">Download File(s)</a></li>
				<li><a href="/upload">Upload File(s)</a></li>
				<li><a href="/annuaire">Annuaire</a></li>
			</ul>
		</header>
		<section>
			<table>
				<thead>
					<tr>
						<th class="th" data-number="0">Nom</th>
						<th class="th" data-number="1">Prénom</th>
						<th class="th" data-number="2">Fonction</th>
						<th class="th" data-number="3">Téléphone</th>
						<th class="th" data-number="4">Mail</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>Auzanneau</td><td>François</td><td></td><td>06.64.89.58.25</td><td><a href="mailto:lou.yetu@laposte.net">lou.yetu@laposte.net</a></td></tr>
					<tr><td>Francioso</td><td>Pierre-Arnaud</td><td></td><td>06.88.49.46.89</td><td><a href="mailto:pafrancioso@aol.com">pafrancioso@aol.com</a></td></tr>
					<tr class="m2i"><td>Gharbi</td><td>Marouen</td><td>Formateur Gestion Projet,Algo,Php,POO (SophiaAntipolis)</td><td>0614277644</td><td><a href="mailto:gharbi.mar@gmail.com">gharbi.mar@gmail.com</a></td></tr>
					<tr><td>Gorret</td><td>André</td><td>Comptable repenti</td><td>06.11.48.42.11</td><td><a href="mailto:Andre.gorret@orange.fr">Andre.gorret@orange.fr(pro)</a><br><a href="mailto:Dreitsch@gmail.com">Dreitsch@gmail.com(perso)</a></td></tr>
					<tr><td>Guemri</td><td>Mouloud</td><td></td><td></td><td><a href="mailto:guemri.mouloud@gmail.com">guemri.mouloud@gmail.com</a></td></tr>
					<tr><td>Hennaert</td><td>Lucas</td><td>Inutile</td><td>06.59.09.70.44</td><td><a href="mailto:hennaertl@gmail.com">hennaertl@gmail.com</a></td></tr>
					<tr><td>Hus</td><td>Sebastien</td><td></td><td>06.66.16.99.94</td><td><a href="mailto:muchhus@gmail.com">muchhus@gmail.com</a></td></tr>
					<tr class="m2i"><td>Koma</td><td>Xavier</td><td>Formateur Agilité/Scrum (Lille)</td><td></td><td><a href="mailto:xavier.koma@gmail.com">xavier.koma@gmail.com</a></td></tr>
					<tr><td>Loemba</td><td>Brice A.</td><td></td><td>06.42.18.92.74</td><td><a href="mailto:Athlan_brice@yahoo.fr">Athlan_brice@yahoo.fr</a></td></tr>
					<tr class="m2i"><td>Martin</td><td>Michel</td><td>Formateur Javascript-jQuery (Paris)</td><td></td><td><a href="mailto:admin@mediaforma.com">admin@mediaforma.com</a></td></tr>
					<tr><td>Menhaj</td><td>Abdelmounaim</td><td></td><td>07.55.07.86.35</td><td><a href="mailto:abdelmounaim.menhaj@gmail.com">abdelmounaim.menhaj@gmail.com</a></td></tr>
					<tr><td>Michaux</td><td>Samuel</td><td></td><td>06.42.95.88.53</td><td><a href="mailto:samuel.michaux@gmail.com">samuel.michaux@gmail.com(pro)</a><br><a href="mailto:kameleon836@gmail.com">kameleon836@gmail.com(perso)</a></td></tr>
					<tr><td>Miladi</td><td>Landa</td><td></td><td>06.13.87.86.04</td><td><a href="mailto:landamiladi@gmail.com">landamiladi@gmail.com</a></td></tr>
					<tr><td>NGuyen</td><td>Laurent</td><td>Ingénieur informatique</td><td>06.86.84.98.00</td><td><a href="mailto:lolovng@gmail.com">lolovng@gmail.com</a></td></tr>
					<tr class="m2i"><td>Oudart</td><td>Madeleine</td><td>Contact M2i</td><td>03.20.19.07.15</td><td><a href="mailto:m.oudart@m2iformation.fr">m.oudart@m2iformation.fr</a></td></tr>
					<tr class="m2i"><td>Pelloux</td><td>Rémi</td><td>Formateur HTML/CSS3,Javascript (Intro) (Nice)</td><td></td><td><a href="mailto:tkmremi@gmail.com">tkmremi@gmail.com</a></td></tr>
					<tr class="m2i"><td>Vroman</td><td>Servane</td><td>Formateur CV,LettreMotivation,Entretien (Lille)</td><td></td><td><a href="mailto:servanevromanledoux@yahoo.fr">servanevromanledoux@yahoo.fr</a></td></tr>
					<tr><td>Watier</td><td>Richard</td><td></td><td></td><td><a href="mailto:riwat89@gmail.com">riwat89@gmail.com</a></td></tr>
				</tbody>
			</table>
		</section>
	</div>
	<script src="jquery.js" charset="utf-8"></script>
	<script>
		$(function(){
			let formateur = $('tbody tr.m2i').length
			let total = $('tbody tr').length
			let eleve = total - formateur
			let tab_tr = new Array(total)

			$('tbody tr').each(function(i, v){
				tab_tr.push(v)
			})

			$('a[href^="/annuaire"]').append('<span class="nbr_annuaire">' + total + '</span>')
			$('section').prepend('<span>Nombres de contacts.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total : ' + total + '&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Formateur : ' + formateur + '&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Elèves : ' + eleve + '</span>')

			$('section table thead tr th').each(function(){
				$(this).prepend('<a href="#" class="before ' + $(this).attr('class') + '"><img src="images/down-arrow.png"></a>')
				$(this).append('<a href="#" class="after ' + $(this).attr('class') + '"><img src="images/up-arrow.png"></a>')
			})

			console.log(tab_tr);

			$('.before, .after').on('click', function(){
				for (var v in tab_tr) {
					if (tab_tr.hasOwnProperty(v)) {
						console.log($(tab_tr[v]).children().first())
					}
				}
			})
		})
	</script>
</body>
</html>
