<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Server en Go de Sam</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet"> -->
    <link rel="stylesheet" href="index.css" media="screen" title="no title">
    <script src="jquery.js" charset="utf-8"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Download file(s)</h1>
            <h3>Hello {{ .ip_name }}</h3>
            <ul>
                <li><a href="/upload">Upload File(s)</a></li>
                <li><a href="/annuaire/false/lastname">Annuaire</a></li>
            </ul>
        </header>
        <section>
            <div class="all">
                {{ $folder := .folder }}
                {{ $files := .files}}
                    {{ range $key, $val := $folder }}
                        {{ if not $val.Empty }}
                        <div class="group_files">
                        <h1 class="cat">{{ $val.Name }}</h1>
                        {{ range $k,$v := $files }}
                            {{ if eq $v.Folder $val.Name }}
                            <div class="files">
                                <a href="/download/{{ $v.Folder }}/{{ $v.Name }}" data-link="{{ $v.Folder }}/{{ $v.Name }}" data-name="{{ $v.Folder }} - {{ $v.Name }}" data-size="{{ $v.Size | exp }}" data-ext="{{ $v.Ext }}">{{ $v.Name | title }}</a>
                                <span class="size">
                                    {{ $v.Size | exp }}
                                </span>
                                <span class="time">
                                    {{ $v.Time | time_fr }}
                                </span>
                            </div>
                            {{ end}}
                        {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </section>
        </div>

        <div class="ajax">

        </div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <img src="images/download.png" alt="" class="download_img"/>
            <h2></h2>
            <span class="close">X</span>
        </div>
        <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
    </div>

</div>

<script>
$(function(){
    var modal = document.getElementById('myModal');
    // $('.modal').load('http://localhost:9000/download/js/appar-multiple.html')

    // $('a').on("click", function(){
    //     confirm('Es-tu sûr de télécharger ce fichier?')
    // })
    // $('.cat').hide().addClass('hidden');
    // $('.cat + .files').prev().show().removeClass('hidden');
    $("a[href^='/download']").on("click", function(e) {
        if ($(this).data('ext') === "jpg" || $(this).data('ext') === "png" || $(this).data('ext') === "gif"){
            e.preventDefault();
            $('#myModal > .modal-content > .modal-header > h2').html($(this).data('name') + " " + $(this).data('size'));
            $('#myModal > .modal-content > .modal-body ').html("<img src='./files/" +  $(this).data('link') + "' alt='" + $(this).data('link') + "' />");
            $('#myModal').fadeIn()
            let href = $(this).attr('href');
            $('.download_img').on('click', function(){
                window.location.href = href;
            })
        }else if ($(this).data('ext') === "html" || $(this).data('ext') === "txt" || $(this).data('ext') === "log") {
            e.preventDefault();
            $('#myModal > .modal-content > .modal-header > h2').html($(this).data('link') + " " + $(this).data('size'));
            $('#myModal > .modal-content > .modal-body ').load($(this).attr('href'));
            $('#myModal').fadeIn()
            let href = $(this).attr('href');
            $('.download_img').on('click', function(){
                window.location.href = href;
            })
        }else{
            return confirm('Es-tu sûr de télécharger ce fichier?');
        }
    });


    $('.close').on('click', function(){
        $('#myModal').fadeOut()
    })

    $(window).click(function(e){
        if (e.target === modal){
            $('#myModal').fadeOut()
        }
    })
})
</script>
</body>
</html>
