{{ define "content" }}
<section>
    <div class="all">
        <h1>
            Désolé mais tu n'es pas autorisé à accéder à ce site.<br>
            Bien cordialement.<br>
            <br>
            J'oublié voici ton ip sur le réseau : {{ .ip }}
        </h1>
    </div>
</section>
</div>

{{ end }}
