{{ define "content" }}
<section>
    <form enctype="multipart/form-data" action="/passwordForgot" method="post" >
        <div class="form_group">
            <input type="email" name="email" class="inputText" placeholder="Email" required/>
        </div>
        <div class="form_group">
            <input type="submit" value="Valider"/>
        </div>
    </form>
</section>

{{ .errors }}

{{ end }}
