{{ define "content" }}
<section>
    <form enctype="multipart/form-data" action="/valid" method="post" >
        <div class="form_group">
            <p>{{ .email }}</p>   
        </div>
        <div class="form_group">
            <input type="text" name="validKey" class="inputText" placeholder="Colles ici le code reçu pa mail"/>
        </div>
        <div class="form_group">
            <input type="submit" value="Valider"/>
        </div>
    </form>
</section>

{{ .errors }}

{{ end }}
